body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --primary-color: rgba(2,184,208, .5);
  --secondary-color: rgb(61, 47, 121);
}

.main-window{
  margin: 10px;
}

Header{
  background-color: var(--primary-color);
}

Header img{
  width: 175px;
  height: 100px;
  border-radius: 45%;
  margin: 10px;

}

Nav{
  position: relative;
}

Nav ul{
  display: flex;
  justify-content: space-around;
}

Nav ul li{
  color: var(--secondary-color-color);
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  color: var(--secondary-color);
}

h2{
  color: var(--secondary-color);
}

.services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
}

.service{
  border: black solid;
  border-radius: 10px;
  padding: 1.5vw;
  height: 225px;
  width: 200px;
  margin: 1.5vw;
}

.service-table{
  background-color: var(--primary-color);
  padding: 2vw;
}

.iframe{
  display: flex;
  padding: 2.5vh;
  margin: auto;
}

iframe{
  width: 30vw;
  height: 30vw;
}

.map{
  margin: auto;
}

Footer{
  margin-top: 2vh;
  background-color: var(--primary-color);
}

footer a{
  padding-left: 2vw;
  color: white;
}

footer p{
  padding: 1.5vw;
  text-align: center;
}

.footer-container{
  margin: auto;
  width: 50%;
}

.social-icons{
  margin: auto;
  padding-bottom: 20px;
  width: 50%;
  text-align: center;
}

.galleryimg{
  width: 350px;
  height: 350px;
  margin: 5px;
}

@media screen and (max-width: 980px){

}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 575px){
  .iframe{
    display: block;
  }

  iframe{
    width: auto;
    height: auto;
  }
}